* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.div-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Slab", serif;
}
.div-carousel .title-carousel {
  color: rgba(4, 116, 10, 0.4235294118);
  text-shadow: 10px 10px 10px;
}
.div-carousel .descuento-efectivo {
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.div-ver-mas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  height: 2em;
}
.div-ver-mas .ver-mas {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.63);
}
.div-ver-mas .ver-mas:hover {
  background-color: black;
  color: white;
}

.btn {
  background-color: rgba(128, 128, 128, 0.144);
}
.btn:hover {
  background-color: rgba(123, 172, 129, 0.548);
  color: black;
}

.number {
  color: black;
}
.number:hover {
  color: white;
}

.span-destacados {
  text-decoration: line-through;
  color: black;
}
.span-destacados:hover {
  color: white;
}

.div-numero-categorias {
  background-color: #DAF7A6;
}

.badge {
  color: black;
}

.div-ruta-navegacion {
  color: rgba(4, 116, 10, 0.4235294118);
}
.div-ruta-navegacion .footer-link {
  color: black;
}
.div-ruta-navegacion .footer-link:hover {
  color: rgba(4, 116, 10, 0.4235294118);
}

.div-animations :hover {
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.title-mates, .title-destacados, .title-velas, .title-bombillas, .title-pintados-amano {
  display: flex;
  justify-content: center;
  margin: 2%;
  padding: 0.5em;
  background-color: #DAF7A6;
  font-family: sans-serif;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.title-section-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(4, 116, 10, 0.4235294118);
}

.section-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  justify-content: space-around;
  background-color: #DAF7A6;
  padding: 1em;
  gap: 2rem;
}
.section-contacto .div-parrafo-contacto {
  display: flex;
  flex-direction: column;
}
.section-contacto .div-parrafo-contacto .parrafo-contacto {
  display: flex;
  flex-direction: column;
}

.items-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.items-contacto:hover {
  color: black;
}

.div-section-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-maps {
  padding: 1rem;
}

@media (max-width: 575px) {
  .section-contacto {
    display: block;
  }
}
.section-quienes-somos {
  background-color: rgba(128, 128, 128, 0.144);
  padding: 1rem;
}
.section-quienes-somos .title-quienes-somos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(4, 116, 10, 0.4235294118);
}
.section-quienes-somos .title-quienes-somos .parrafo-quienes-somos {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

@keyframes contenedorAnimado {
  0% {
    background-image: url(../img/portada.jpeg);
  }
  33% {
    background-image: url(../img/personalizado-cisne.jpg);
  }
  66% {
    background-image: url(../img/personalizado-tractor.jpg);
  }
  100% {
    background-image: url(../img/velados.jpeg);
  }
}
.contenedor-animado {
  display: grid;
  height: 80vh;
  width: 100%;
  background-size: 100%;
  animation-name: contenedorAnimado;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.div-contenedores-mision-valores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 5rem;
  background-color: rgba(128, 128, 128, 0.144);
}

.title-final {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(4, 116, 10, 0.4235294118);
  background-color: rgba(128, 128, 128, 0.144);
  padding: 0.5rem;
}

.card {
  background-color: rgba(4, 116, 10, 0.4235294118);
}

@media (max-width: 575px) {
  .div-contenedores-mision-valores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
  }
  .title-final {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: rgba(4, 116, 10, 0.4235294118);
    background-color: rgba(128, 128, 128, 0.144);
    padding: 0.5rem;
  }
}
.card {
  background-color: rgba(4, 116, 10, 0.4235294118);
}

.div-main {
  background-color: rgba(128, 128, 128, 0.144);
}
.div-main .title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(4, 116, 10, 0.4235294118);
}
.div-main .title-section .parrafo-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.div-main .preguntas-frecuentes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/*# sourceMappingURL=styles.css.map */
