*{margin: 0; 
    padding: 0; 
    box-sizing: border-box;}
    
    body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    
    a {text-decoration: none;}
    
    ul, ol{list-style: none;}


.header-title{
    height: 10%;
    width: 10%;
}
