* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

//Index//

//Hedear y nav//


//Section carousel//
.div-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab', serif;

}

.title-carousel{
    color:#04740a6c;
}

//Section Mates//
.title-mates{
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 1em;
    background-color: #DAF7A6;
    font-family: sans-serif;
}

.section-mates{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
//Section Mates pintados a mano//
.title-pintados-amano{
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 1em;
    background-color: #DAF7A6;
    font-family: sans-serif;
}

.section-pintados-amano{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;

}

//header preguntas frecuentes VERSION ESCRITORIO 1200PX // 

.div-cuerpo{
    display: flex;
    flex-wrap: nowrap;
}

.header-title :hover{
display: flex;
justify-content: flex-end;
height: 80px;
width: 80px;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(80px, 5vh);
    padding: 1em;
    
    }

.nav-list {
    display: flex;
    font-size: 14px;
    align-items: flex-end;
    gap: 10px;
    
}

.nav {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-decoration:underline;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}

.nav-list-item :hover{
    background-color: black;
    color: white;
}

//section PREGUNTAS FRECUENTES//

.div-main-comocomprar{
    background-color: #DAF7A6;
}

.title-indicaciones{
    display: flex;
    justify-content: center;
    background-color: black;
    color: #DAF7A6;
    padding: 0.5em;
}

.div-cuerpo-comocomprar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);

    
}

.section-indicaciones{
   grid-row: span 2;
   grid-column: span 2;
   gap: 2rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.ol-indicaciones{
    padding: 2rem;
}

.list-indicaciones{
    gap: 5rem;
    list-style-type: circle;

}

//footer PREGUNTAS FRECUENTES//
.footer-como-comprar{
    background-color:white;
    padding: 1rem;
}

.div-footer{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(200px, 5vh);
    
    
    }
.logo-redessociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.logo-redessociales :hover{
    background-color: rgba(128, 128, 128, 0.623);
    display: block;
}

.pie-del-footer{
   grid-column: span 2;
   display: flex;
   justify-content: center;
}

.title-mediosdepago{
    display: flex;
    justify-content: center;
}

.img-mercadopago{
height: 180px;
width: 400px;
}
