//Index//

//Hedear y nav//


//Section Mates//
.title-mates {
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 0.5em;
    background-color: $color-primario;
    font-family: $font-family-b;
}



.card-body {
    @include flex-column-center
}


//Section Mates pintados a mano//
.title-pintados-amano {
    @extend .title-mates;
}


.card-body {
    @include flex-column-center
}


//Section Bombillas//
.title-bombillas {
    @extend .title-mates;
}


//Section Velas//
.title-velas {
    @extend .title-mates;
}


//Section destacado//
.title-destacados {
    @extend .title-mates;
}


.card-body {
    @include flex-column-center
}