//Index//

//Hedear y nav//


//Section Mates//
.title-mates {
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 0.5em;
    background-color: $color-primario;
    font-family: $font-family-b;
}

.section-mates {
    @include flex-row-center-gap();

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//Section Mates pintados a mano//
.section-pintados-amano {
    @include flex-row-center-gap();
}
//Section destacado//
.section-destacados {
    @include flex-row-center-gap();

    .span-destacados {
        text-decoration: line-through;
    }
}