//btn ver mas//
.div-ver-mas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    height: 2em;

    .ver-mas {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.63);

        &:hover {
            background-color: $color-a;
            color: $color-terciario;
        }
    }
}

.btn {
    background-color: $color-b;

    &:hover {
        background-color: rgba(123, 172, 129, 0.548);
        color: $color-a;
    }
}

.number {
    color: $color-a;

    &:hover {
        color: $color-terciario;
    }
}
.span-destacados {
    text-decoration: line-through;
    color: $color-a;

    &:hover {
        color: $color-terciario;
    }
}
.div-numero-categorias{
    background-color: $color-primario;
}
.badge{
    color: $color-a;
}