.div-ruta-navegacion {
    color: $color-secundario;
    
    .footer-link {
        color: $color-a;

        &:hover {
            color: $color-secundario;
        }
    }
}


.div-animations :hover {
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
